# Core dependencies
matplotlib>=3.3.1
numpy>=1.19.1
pretty_midi>=0.2.9
torch>=1.10.0
pyyaml>=5.3.1

# Essential for preprocessing and utilities
scipy
pillow
tqdm

# For interactive notebooks and development
iPython
jupyter

# Optional: for metrics, evaluation or advanced processing
scikit-learn

# MIDI
mido
python-rtmidi
